<div class="list">
  @for (city of items | async; track city.id) {
  <article class="list__item card">
    <div class="card__img-wrapper">
      <img
        class="card__img"
        src="{{ city.image }}"
        width="100"
        height="100"
        alt=""
      />
    </div>
    <div class="card__content-wrapper">
      <span class="card__row">
        <h2>
          {{ city.name }}
        </h2>
        <app-favorite-button
          [isFavorite]="city.favorite"
          (click)="addFavorite(city.id, city.favorite)"
        />
      </span>
      <p>{{ city.description }}</p>

      <div class="card__actions">
        <a class="icon-button" [routerLink]="['/edit', city.id]">
          <app-svg-icon-sprite icon="edit" />
        </a>
        <button class="card__delete icon-button" (click)="delete(city.id)">
          <app-svg-icon-sprite icon="trash" />
        </button>
      </div>
    </div>
  </article>
  }
</div>
