<div class="grid">
  @for (city of cities; track $index) {
    <article class="card">
      <img class="card__img" src="{{ city.image }}" alt="">
      <div class="card__content-wrapper">
        <span class="card__row">
          <h2 class="card__title">
            {{ city.name }}
          </h2>
          <app-favorite-button [item]="city" />

          <button class="card__delete icon-button" (click)="delete(city.id)" type="button">
            <app-svg-icon-sprite icon="trash" />
          </button>

        </span>
        <p class="card__text">
          {{ city.description }}
        </p>
      </div>
    </article>
  }
</div>
