@font-face {
  src: url("../assets/font/roboto-regular.woff2") format("woff2");
  font: {
    family: Roboto;
    weight: 400;
    style: normal;
  }
}

@font-face {
  src: url("../assets/font/roboto-medium.woff2") format("woff2");
  font: {
    family: Roboto;
    weight: 500;
    style: normal;
  }
}
