.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  gap: 28px;
  padding-top: 20px;
  border-top: 1px solid #D3D4DB;
}

.card__img-wrapper {
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
}

.card__img {
  object-fit: cover;
  display: grid;
}

.card__content-wrapper {
  flex: auto;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: 1fr min-content;
  align-content: center;
  gap: 12px;
}

.card__row {
  display: flex;
  align-items: center;
  gap: 14px;
}

.card__actions {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  gap: 8px;
  align-items: center;
}

.card__delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
}