@import "styles/font";
@import "styles/base";
@import "styles/vars";

* {
  box-sizing: border-box;
}

p, h1, h2 {
  margin: 0;
}

button {
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}