<section class="section">
  <div class="section__container container">
    <div class="section__row">
      <div class="section__button-group">
        <button
          class="section__button button"
          [class.section__button_active]="activeList()"
          (click)="displayList()"
        >
          Список
        </button>
        <button
          [class.section__button_active]="activeGrid()"
          class="section__button button"
          (click)="displayGrid()"
        >
          Плитка
        </button>
      </div>
      <a class="section__link button button_cyan" routerLink="/create">Создать</a>
    </div>
    @if (isVisible() === "list") {
      <app-list
        (idEvent)="addFavorite($event)"
      />
    } @else {
      <app-grid (idEvent)="addFavorite($event)" />
    }
  </div>
</section>
