<section class="section">
  <div class="section__container container">
    <div class="section__row">
      <div class="section__button-group">
        <a
          class="section__link section__button button"
          routerLink="/list"
          routerLinkActive="section__button_active"
        >
          Список
        </a>
        <a
          routerLinkActive="section__button_active"
          routerLink="/tile"
          class="section__button button section__link"
        >
          Плитка
        </a>
      </div>
      <a class="section__link button button_cyan" routerLink="/create">Создать</a>
    </div>
    <router-outlet></router-outlet>


    <!-- @if (isVisible() === "list") {
      <app-list
        (idEvent)="addFavorite($event)"
      />
    } @else {
      <app-grid (idEvent)="addFavorite($event)" />
    } -->

  </div>
</section>
