.section {
  margin-bottom: 100px;
}

.section__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.section__button {
  transition: background 0.3s ease-out;
  &:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &_active {
    background: var(--bg-color);
  }
}

.section__link {
  display: inline-flex;
  align-items: center;
}

.section__list {
  display: flex;
  flex-direction: column;
}