<div class="grid">
  @for (city of cities | async; track city.id) {
    <article class="card">
      <img class="card__img" src="{{ city.image }}" alt="">
      <div class="card__content-wrapper">
        <span class="card__row">
          <h2 class="card__title">
            {{ city.name }}
          </h2>
          <app-favorite-button
            [isFavorite]="city.favorite"
            (click)="addFavorite(city.id, city.favorite)"
          />
          <div class="card__actions">
            <a class="icon-button" [routerLink]="['/edit', city.id]">
              <app-svg-icon-sprite icon="edit" />
            </a>
            <button class="icon-button" (click)="delete(city.id)" type="button">
              <app-svg-icon-sprite icon="trash" />
            </button>
          </div>
        </span>
        <p class="card__text">
          {{ city.description }}
        </p>
      </div>
    </article>
  }
</div>
